@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* initial style */

*{
    font-family:'Inter', sans-serif;
    margin:0;padding:0;
}

body{
    background-color:#04050c;
}

.pl-35{
    padding-left:35px;
}

a{
    text-decoration:none;
}

/* style header */



.sidebar .logo-brand{
    padding-top:15px;
    margin-bottom:20px;
}

.grid-1{
    box-sizing:border-box;
    position: fixed;
    background-color: #050716;
    height:100vh;
    width:240px;
}


.sidebar .nav-menu-1 a, .sidebar .nav-menu-2 a{
    display:flex;
    align-items: center;
    line-height: 40px;
    height:40px;
    font-size:14px;
    font-weight:600;
    color:rgb(212, 212, 212);
    padding-left:35px;
    transition: 0.3s;
    border-inline-start:0px solid #1a00af;
}

.sidebar .nav-menu-1 a:hover , .sidebar .nav-menu-2 a:hover{
    border-inline-start:3px solid #7970b1;
    background-color:#1e2450;
}

.nav-icon i{
    margin-right:8px;
    width:30px;
    font-size:20px;
}

.divider{
    display: block;
    border-top:.5px solid rgba(148, 148, 148, 0.212);
    margin:20px 35px;
}

/* grid 2 */

.grid-2{
    max-width:calc(100% - 280px);
    box-sizing: border-box;
    max-height: fit-content;
    position: relative;
    left:280px;
}

.header-top{
    position: sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    width:calc(100% - 40px);
    height:70px;
    align-items: center;
    background-color:#04050c;
}

.search-bar{
    position: relative;
}

.header-top .search-bar input{
    width:500px;
    color:rgb(219, 219, 219);
    border-radius: 99px;
    padding-left:35px;
    background-color:#0a0d27;
    font-size:14px;
    height:45px;
    border:none;
}

span.search-icon{
    position: absolute;
    line-height: 45px;
    padding-left:10px;
    font-size:18px;
    color:rgb(219, 219, 219);
    top:0;
    left:0;
}



.user-function a.func{
    color:white;
    display: inline-block;
    margin:0 5px;
    width: 40px;
    height: 40px;
    background-color:#111636;
    border-radius: 50%;
    font-size:20px;
}

.user-function .user{
    border-radius: 99px;   
    display: inline-block;  
    padding:0 15px;
    line-height: 40px;
    width: fit-content;
    background-color:#111636;
    color:white;
    height: 40px;
}

a.func i{
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}